## Read the data

This code will give you the data you will use for this PC:

In [24]:
# read web table into pandas DF
import pandas as pd

co2Link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRXjfxeKHQBBCh_oHP-D6RIHEX4eduLjydHb6ZGsU4jo0IK0KKQSoYX_X1FGssC_9hnqCgjKN0K4AVf/pub?gid=775098192&single=true&output=csv'
carbon=pd.read_csv(co2Link)

In [25]:
# here it is:
carbon

,name,metric tonnes of CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

As you see, some columns have space, which should be deleted:

In [26]:
# also
carbon.columns

Index(['name', 'metric tonnes of CO2', 'date_of_information', 'ranking',
       'region'],
      dtype='object')

In [27]:
# Like this
carbon.rename(columns={'metric tonnes of CO2':'metric_tonnes_of_CO2'},inplace=True)

# see
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  216 non-null    object
 1   metric_tonnes_of_CO2  216 non-null    float64
 2   date_of_information   216 non-null    int64
 3   ranking               216 non-null    int64
 4   region                216 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 8.6+ KB

You always make a copy:

In [28]:
carbon_copy=carbon.copy()
carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

## Questions

Complete the tasks requested using **carbon_copy**:

1. Keep all the columns but _Ranking_:
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).

2. Find the country with the minimum CO2 emission in the world.

3. Find the country with the minimum CO2 emission per Region.

4. Create a new column by keeping the square root of the the original CO2  column.

5. Compute the average of CO2. Then, create a new column. This new column is
the original CO2 minus the average computed.

You have changed **carbon_copy**, now save it as a file like this:

In [ ]:
# carbon_copy.to_csv("carbon_copy.csv",index=False)

### Task 1

In [ ]:
carbon_copy.drop(columns=["ranking"],inplace=True)
carbon_copy

### Task 2

In [ ]:
carbon_copy[carbon_copy.metric_tonnes_of_CO2==carbon_copy.metric_tonnes_of_CO2.min()]["name"]

### Task 3

In [84]:
#Encontramos todas las regiones en las que se divide el mundo segÃºn la tabla. Son 11 regiones.
regions=carbon_copy.region.unique()
regions

array(['East and Southeast Asia', 'North America', 'South Asia',
       'Central Asia', 'Middle East', 'Europe', 'Africa', 'South America',
       'Australia and Oceania', 'Central America and the Caribbean',
       'Antarctica'], dtype=object)

In [83]:
#region 1: East and Southeast Asia
region1=carbon_copy[carbon_copy.region==regions[0]]
region1[region1.metric_tonnes_of_CO2==region1.metric_tonnes_of_CO2.min()]

,name,metric_tonnes_of_CO2,date_of_information,region
184,Timor-Leste,660.0,2023,East and Southeast Asia

In [82]:
#region 2: North America
region2=carbon_copy[carbon_copy.region==regions[1]]
region2[region2.metric_tonnes_of_CO2==region2.metric_tonnes_of_CO2.min()]

,name,metric_tonnes_of_CO2,date_of_information,region
210,Saint Pierre and Miquelon,57.0,2023,North America

In [81]:
#region 3: South Asia
region3=carbon_copy[carbon_copy.region==regions[2]]
region3[region3.metric_tonnes_of_CO2==region3.metric_tonnes_of_CO2.min()]

       name  metric_tonnes_of_CO2  date_of_information      region
177  Bhutan                 733.0                 2023  South Asia

In [80]:
#region 4: Central Asia
region4=carbon_copy[carbon_copy.region==regions[3]]
region4[region4.metric_tonnes_of_CO2==region4.metric_tonnes_of_CO2.min()]

        name  metric_tonnes_of_CO2  date_of_information        region
121  Armenia             7144000.0                 2023  Central Asia

In [79]:
#region 5: Middle East
region5=carbon_copy[carbon_copy.region==regions[4]]
region5[region5.metric_tonnes_of_CO2==region5.metric_tonnes_of_CO2.min()]

           name  metric_tonnes_of_CO2  date_of_information       region
141  Gaza Strip             3913000.0                 2023  Middle East
142   West Bank             3913000.0                 2023  Middle East

In [78]:
#region 6: Europe
region6=carbon_copy[carbon_copy.region==regions[5]]
region6[region6.metric_tonnes_of_CO2==region6.metric_tonnes_of_CO2.min()]

              name  metric_tonnes_of_CO2  date_of_information  region
175  Faroe Islands                 742.0                 2023  Europe

In [77]:
#region 7: Africa
region7=carbon_copy[carbon_copy.region==regions[6]]
region7[region7.metric_tonnes_of_CO2==region7.metric_tonnes_of_CO2.min()]

,name,metric_tonnes_of_CO2,date_of_information,region
214,"Saint Helena, Ascension, and Tristan da Cunha",12.0,2023,Africa

In [76]:
#region 8: South America
region8=carbon_copy[carbon_copy.region==regions[7]]
region8[region8.metric_tonnes_of_CO2==region8.metric_tonnes_of_CO2.min()]

,name,metric_tonnes_of_CO2,date_of_information,region
211,Falkland Islands (Islas Malvinas),36.0,2023,South America

In [75]:
#region 9: Australia and Oceania
region9=carbon_copy[carbon_copy.region==regions[8]]
region9[region9.metric_tonnes_of_CO2==region9.metric_tonnes_of_CO2.min()]

     name  metric_tonnes_of_CO2  date_of_information                 region
215  Niue                   9.0                 2023  Australia and Oceania

In [74]:
#region 10: Central America and the Caribbean
region10=carbon_copy[carbon_copy.region==regions[9]]
region10[region10.metric_tonnes_of_CO2==region10.metric_tonnes_of_CO2.min()]

,name,metric_tonnes_of_CO2,date_of_information,region
212,Montserrat,24.0,2023,Central America and the Caribbean

In [73]:
#region 11: Antarctica
region11=carbon_copy[carbon_copy.region==regions[10]]
region11[region11.metric_tonnes_of_CO2==region11.metric_tonnes_of_CO2.min()]

           name  metric_tonnes_of_CO2  date_of_information      region
213  Antarctica                  15.0                 2023  Antarctica

### Task 4

In [ ]:
import numpy as np # se llama a la librerÃ­a numpy para cÃ¡lculo numÃ©rico de vectores

raiz_cuadrada=np.sqrt(carbon_copy.metric_tonnes_of_CO2)
carbon_copy=carbon_copy.assign(raiz_cuadrada=raiz_cuadrada)
carbon_copy

### Task 5

In [ ]:
# Calculo del promedio de emisiones de CO2 en todo el mundo
avrg=carbon_copy.metric_tonnes_of_CO2.mean()
avrg

In [ ]:
# Se crea una lista (diferencia) que serÃ¡ la resta entre cada valor de la columna de emision de CO2 y
# el promedio
diferencia=carbon_copy.metric_tonnes_of_CO2-avrg
carbon_copy=carbon_copy.assign(diferencia=diferencia)
carbon_copy

In [99]:
carbon_copy.to_csv("carbon_copy.csv",index=False)